.form-control, .form-select {
    border-color: #005e10;
    border-radius: 5px;
    border-width: 2px;
    background-color: #e6fcee;
}
.form-control:hover, .form-select:hover {
    border-color: #34eb77;
    box-shadow: 0px 0px 3px #34eb77;

}

.form-control:focus, .form-select:focus {
    border-color: #005e10;
    box-shadow: 0px 0px 0px 2.5px #005e10;
}

.search-bar {
    display: flex;
    position: relative;
    width: 25%;
    align-items: center;


}

.search-bar button {
    position: absolute;
    margin-right: 5px;
    right: 0;
}
